@font-face {
  font-family: 'Kadwa';
  src: url(./fuentes/Kadwa/Kadwa-Regular.ttf);
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fuentes/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf');
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Kadwa', serif;
}

a{
  color: #678a47;
  font-weight: bolder;
}
a:visited{
  color: #f2aa52;
} 
#title-page{
  color:#fafafa;
}
.articles-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:10px;
}

article{
  background-color: #fafafa;
  padding: 1em;
  border-radius: 15px;
}

.article-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sass{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning{
  color:red;
  text-align: center;
}