$base-color: blue; 
$important-color: rgb(1, 9, 78); 
$warning-color: rgb(129, 219, 255); 
$principal-font:'Times New Roman', Times, serif;
$secondary-font:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
$shadow:-5px 5px 6px;
