$base-color: red; 
$important-color: rgb(124, 0, 0); 
$warning-color: rgb(255, 159, 159); 
$principal-font:'Courier New', Courier, monospace;
$secondary-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$shadow:5px 5px 6px;